.containerSigEvento {
  max-width: 80%;
}

.containerProxEvento{
  /* padding: "1vh",paddingLeft:'2vh', maxWidth:'80%' */
  padding: 1vh;
  padding-left: 2vh;
  max-width: 80%;
}

.layout {
  display: flex;
  gap: 3vh;
  width: 80%;
  padding-top: 2vh;
  padding-left: 2vh;
}

.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #00000013;
  /* padding: 6px; */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  width: 25vh;
  height: 25vh;
  position: absolute;
  top: 8%;
  left: 8%;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.card2 {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #00000013;
  padding: 2vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  width: 16vh;
  height: 16vh;
  position: absolute;
  top: 8%;
  left: 9%;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.imgDiv {
  /*    <div style={{ maxWidth: "10vh", maxHeight: "10vh" }}> */
  max-width: 8vh;
  max-height: 8vh;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.title {
  font-family: Poppins;
  color: #184680;
  font-weight: 700;
  font-size: 1.6vh;
}
.titleK {
  font-family: Poppins;
  color: #184680;
  font-weight: 700;
  font-size: 2vh;
}

.descripcion {
  font-family: Poppins;
  font-weight: 400;
  color: #4d4747;
  font-size: 1.4vh;
  /* text-align: center; */
  width: 100%;
}

.divDetalles {
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  gap: 1vh;
  align-items: center;
}
.p {
  color: #4d4747;
  font-weight: 400;
  font-size: 1.2vh;
}

.pK {
  color: #4d4747;
  font-weight: 400;
  font-size: 1.6vh;
}

.pTittle {
  color: #156baa;
  font-weight: 700;
  font-size: 1.2vh;
}
.pTittleK {
  color: #156baa;
  font-weight: 700;
  font-size: 1.8vh;
}

.layoutTitlteSigEventos {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10vh;
padding-left: 2vh;
  justify-content: flex-start;
}
.titleSig {
  width: 60%;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
}
.pSig {
  font-size: 1.4vh;
  padding-bottom: 1vh;
}
@media (max-width: 800px) {
  .containerProxEvento{
    padding-left: 0vh;
  }
  .layoutTitlteSigEventos {
    padding-left: 0vh;
  }
  .card {
    gap: 1vh;
  }
  .containerSigEvento {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .descripcion {
    text-align: center;
  }
  .infoDiv {
    align-items: center;
  }
  .pSig {
    display: none;
  }
  .descripcion {
    text-align: center;

    max-width: 40vh;
  }
  .divDescripcion {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .layout {
    padding: 1vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .layoutTitlteSigEventos {
    padding: 1vh;
  }
  .card {
    gap: 1rem;
    top: 8%;
    left: 8%;
  }
  .imgDiv {
    max-height: 10vh;
  }
}
