.container{
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: #BDD0DD;
    border-radius: 8px;
    padding: 1rem;

}

.divItem{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-around;

}
.divItem p{
    color:#0D263B;
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.6vh;
}
.divItemGrande{
    display: flex;
    width: 100%;
}
.divItemGrande p {
    color:#0D263B;
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.6vh;
}


@media (max-width: 900px) {
    .container{display: none;}
}