.slider_container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    /* position: relative; */
    width: 70vh;
    max-width: 70vh;
    /* max-height: 600px; */
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 26vh;
}

.swiper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.swiper_slide {
    text-align: center;
    /* Center slide text vertically */

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/* INDIE SLIDERS */
/* border: "1px solid #696969",
width: "10vh",
borderRadius: "2vh",
height: "20",
display: "flex",
flexDirection: "column", */
.divDropHorarios {
    /* { display: "flex", alignItems: "flex-end", gap: "1vh" } */
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 1vh;
    padding-top: 3vh;
}

.cardDia {
    border: 1px solid #696969;
    width: 10vh;
    border-radius: 2vh;
    /* height: 20vh; */
    display: flex;
    flex-direction: column;
    box-shadow: rgb(184, 184, 184) -5px 1px 10px, rgb(255, 255, 255) 0px 0px 0px;
}

.cardDia:hover {
    border: 2px solid #0061df;
}

.p {
    padding: 1px;
    font-size: 1.9vh;
    font-weight: 400;
    color: #000000;

}

.p:hover {
    color: #0061df;
}

.pNumber:hover {
    color: #0061df;
}

/* style.p_SelectedNumber : style.pNumber */
.p_SelectedNumber {
    /* padding: 2px; */
    font-size: 2.5vh;
    font-weight: 500;
    color: #ffffff;
}

.pNumber {
    /* padding: 2px; */
    font-size: 2.5vh;
    font-weight: 500;
    color: #000000;
}

.pNumberD {
    /* padding: 2px; */
    font-size: 2.5vh;
    font-weight: 400;
    color: #9E9999;
}

.p_Selected {
    padding: 1px;
    font-size: 1.9vh;
    font-weight: 500;
    color: #ffffff;
}

.p_desactiv {
    /* {
        fontSize: "1.9vh",
        fontWeight: "400",
        color: "#9E9999",
        padding: '2px'
      } */
    padding: 2px;
    font-size: 1.9vh;
    font-weight: 400;
    color: #9E9999;
}

.divBorderSelected {
    /* border: 1.5px solid #0061df; */
    border-radius: 2vh;
    width: 100%;
    height: 100%;
    background-color: #0061df;
    box-shadow: rgb(0, 97, 223) -1px 1px 1px 1px, rgb(0, 97, 223) 2px 0.5px 0.5px 0.5px;
    display: flex;
    flex-direction: column;
}


.divNodisponible {
    border-radius: 2vh;
    width: 100%;
    height: 100%;
    /* box-shadow: rgb(57, 58, 59) -1px 1px 1px  1px,rgb(67, 68, 68) 2px 0.5px 0.5px 0.5px; */
    display: flex;
    flex-direction: column;
}

.divNodisponible p {
    padding: 2px;
    font-size: 1.9vh;
    font-weight: 400;
    color: #d4391e;
}

.divResponsiveMobile {
    display: none;
}

@media (max-width: 700px) {
    .divDropHorarios {
        align-items: center;
        justify-content: center;
    }

    .slider_container {
        width: 40vh;
        height: 27vh;
        /* justify-content: center;
        align-items: center; */
    }

    .divResponsiveMobile {
        display: flex;
    }

    .divResponsiveDesktop {
        display: none;
    }
}