
.layout{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.divCard{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
width: 90%;
padding: 10px;
box-shadow:0px 4px 40px rgba(31, 95, 175, 0.15) ;
}

.divCardFree{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
 border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }


.divItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 70%;
    height: 100%;
}
.divBtn{
    display: flex;

   justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.ItemTitle  {
    font-size: 1.8vh;
    font-family: Poppins;
    font-weight: 600;
    color:#0D263B ;
}

.divItem p {
    font-size: 1.4vh;
}

@media (max-width: 800px) {
    .divCard{
        flex-direction: column;
    }
    .divItem{
        flex-direction: row;
    }
}