.Form{
display: flex;
flex-direction: column;
align-items: center;
padding: 3vh;
gap: 1vh;
}

.Form input{
    border: 1px solid #999999;
    border-radius: 5px;
    width: 340px;
    height: 50px;
    outline-color: #0061dfab;
    padding: 5px;
}

.img_div {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2vh;
  }
  .img_div img {
    width: 200px;
    height: 50px;
  }


  .Form button{
    font-weight: 600;
    color: #fff;
    width: 340px;
    height: 50px;
    border-radius: 8px;
    background-color: #0061DF;
  }
  .p {
    font-size: 1.3vh;
    color: #d19494;
  }

  .socialMedia{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }
  .socialMedia p{
    font-weight: 300;
    color: #3a3939;
  }
  .recuperar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
  }

 .recuperar p {
    font-weight: 00;
    color: #3a3939;
  }

  .recuperar h1 {
    font-weight: 600;
    color: #0061DF;
  }

  .DivPass{
    position: relative;
  }
  .Password{
  position: absolute;
  top: 19px;
  right: 20px;
  }

