/* .item{
    height: 40rem;
    min-width: 30rem;
    padding: 2rem;
}
.item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.slider{
    display: flex;
    cursor: grab;
    height: 60vh;
    gap: 2vh;
    border: 1px solid red;
}
.slider_container{
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    gap: 2vh;
    flex-direction: row;
} */

.cardDia{
    border: 1px solid #fffefe75;
    width: 25vh;
    border-radius: 2vh;
    /* height: 20vh; */
    justify-content: space-between;
    display: flex;
    padding: 1vh;
    height: fit-content;
    flex-direction: column;
    /* box-shadow: rgba(135, 176, 242, 0.512) 10px 15px 20px, rgba(135, 176, 242, 0.512) -10px 10px 10px;
  */
    text-align: center;
    box-shadow: 0px 5px 10px 5px rgba(27, 86, 126, 0.22);
    border-radius: 10px;
}
.divMobile{
    display: none;
}
.slider_container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    /* position: relative; */
    width: 80vh;
    height: 57vh;
    /* max-height: 600px; 
    
    */
    
    margin: 0;
    padding: 0;
    justify-content: center;
    /* padding: 2vh; */
   /* gap: 10vh; */
}

.swiper {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.swiper_slide {
    text-align: center;
      /* Center slide text vertically */

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


@media (max-width: 700px) {
    .swiper {
        
        justify-content: center;
    }
    .slider_container {
        /* display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        border-radius: 30px; */
        /* position: relative; */
        width: 30vh;
        height: 57vh;
        /* max-height: 600px; 
        
        */
        
        /* margin: 0;
        padding: 0;
        justify-content: center; */
        /* padding: 2vh; */
       /* gap: 10vh; */
    }
    .divDesktop{
        display: none;
    }
    .divMobile{
        display: flex;
    }
}