
.formLayout {
    display: flex;
    flex-direction: column;
 gap: 1vh;

  }
  
  .h1_div {
    display: flex;
    width: 100%;
    justify-content: center;

  }
  .h1_div h1 {
    font-size: 2vh;
    color:#0061DF;
    font-weight: 700;
  }
  
  .input{
    font-size: 1.5vh;
    font-family: Poppins;
  }

  .input::placeholder {
    color: rgb(44, 42, 42);
    font-size: 1.5vh;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    /* gap: 1vh; */
    /* gap: 50px;
  
    padding-left: 40px;
    padding-right: 50px;
    justify-content: space-evenly;
    height: auto; */
  }
  
  .form input {
    height: 5vh;
    width: 35vh;
  
    outline-color: #0061dfab;
    border-radius: 8px;
    border: 1px solid rgb(121, 119, 119);
    padding: 10px;
  }
  .divInputs {
    display: flex;
    flex-direction: column;
  

  }
  .label {
    font-size: 1.6vh;
    color: rgb(49, 48, 48);
  
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-weight: 600;
  }
  .divButton {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
    padding-top: 1vh;
    width: 100%;
  }
  .divButton button {
    font-family: Poppins;
    font-size: 1.6vh;
    font-weight: 600;
    color: #fff;
    width: 200px;
    border-radius: 8px;
    height: 40px;
    background-color: #0061df;
  }
  .divSingIn{
    display: flex;
    padding-top: 20px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }
  
  
  
  .p {
    font-size: 1.2vh;
    color: #b10000;
  }
  
  
  
  .contenedorModal::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .contenedorModal::-webkit-scrollbar:vertical {
    width:8px;
  }
  
  .contenedorModal::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  .contenedorModal::-webkit-scrollbar:horizontal {
    height: 5px;
  }
  
  .contenedorModal::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
    border:0.5px solid #424242;
  }
  
  .contenedorModal::-webkit-scrollbar-track {
    border-radius: 10px;  
  }
  
  
  .DivPass{
    position: relative;
  }
  .Password{
  position: absolute;
  top: 12px;
  right: 40px;
  }
  
  @media (max-width: 800px) {
    .divInputs input {
      width: 200px;
      height: 40px;
      gap: 0px;
    }
    .label {
      color: rgb(49, 48, 48);
      padding-top: 0px;
    }
    .form {
      flex-direction: column;
      padding: 10px;
      gap: 0px;
    }
    .formLayout {
      height: auto;
      align-items: center;
    }
    .contenedorModal{
      max-height:700px ;
      overflow-y: scroll;
    }
    .h1_div h1{
      font-size: 20px;
    }
  }
  