.Layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  padding-bottom: 40px;
}

.tableHead {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  border-radius: 2px;
  width: 100%;
  height: 20px;
  background-color: #0061df;
}

.tableTitleDiv {
  width: 100px;
  display: flex;
  justify-content: center;
}

.tableTitle {
  font-size: 12px;
  color: #ffff;
}

.cardTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  font-size: 12px;
  flex-direction: row;
  gap: 2px;
  /* box-shadow: 0px 1px 2px rgba(34, 34, 34, 0.2); */
}

.itemTable {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  border: 0.2px solid #38383856;
  justify-content: center;
}

.divSwipperCitas{
  /* width:'100%',display:'flex', justifyContent:'center' */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 30vh;
}
.divBox{
  padding-top: 10vh;
  width: 90vh;
}
.responsiveHead{
  padding-top: 2vh;
}
.divIconsHead{
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
@media (max-width: 900px) {
  .divSwipperCitas{
    /* width:'100%',display:'flex', justifyContent:'center' */
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .divBox{
    width: auto;
  }
  .responsiveHead{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
   padding: 2vh;
  }
  .divIconsHead{
  padding-left: 2vh;


    

  }
}