.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 4vh;
}

.divTabla {
    height: 100%;
    min-height: 5vh;
}

.divP {
    display: flex;
    /* height: 80vh; */
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10vh;

    /* gap: 2vh; */
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 4vh;
}

.containerCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1vh;
    justify-content: space-between;
}


.cardHead {
    display: flex;
    flex-direction: row;
    gap: 2vh;


}

.cardHead img {
    max-width: 7vh;
    max-height: 7vh;
}

.cardHead_info {
    display: flex;
    flex-direction: column;
    /* gap: 1vh; */
}

.cardHead_info p {
 
    font-size: 1.5vh;
    margin: 0;
}

.bodyCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-; */

}

.SW {
    height: fit-content;
    display: flex;
    width: 100%;
    justify-content: center;
}



.div {
    /* border: 1px solid grey; */
    min-width: 35vh;
    max-width: 35vh;
    max-height: 50vh;
    min-height: 5vh;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    /* gap: 3vh; */
    font-size: 1.8vh;
    flex-direction: column;

}